# Variables para base de datos remota (Aiven)
DB_HOST=royalrent-db-royalrent.l.aivencloud.com
DB_USER=avnadmin
DB_PASSWORD=TU_CONTRASEÑA_AQUI
DB_NAME=defaultdb
DB_PORT=20847

# JWT
JWT_SECRET=royalrent_secret_key_2025

# Puerto del servidor (Vercel lo asigna automáticamente)
PORT=5000
